/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #7c2c0c;
    font-weight: bold;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.mail_section_1 {
    width: 100%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4f4e4e;
    border: 1px solid #8e8e8e;
    background-color: #ffff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.massage-bt {
    color: #4f4e4e;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #ffff;
    padding: 40px 15px 0px 15px;
    border: 1px solid #8e8e8e;
    height: 110px;
    margin-top: 20px;
    border-radius: 10px;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    float: left;
    background-color: #7c2c0c;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    margin-top: 40px;
    border: 1px solid #7c2c0c;
    font-weight: 500;
}

.send_bt a:hover {
    background-color: transparent;
    color: #7c2c0c;
}

.map_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}


/* contact section end */
